 #body {
  background: #87CEEB;
}

/* set map, body, and html to 100% of the screen size */
#map,
html {
  height: 600px;
}

 .box {
  height: 500px;
  padding: 20px;
  margin: 5px;
  font-weight: 200;
  color: black;
  border-radius: 5px;
  background-color: white;
} 

.main_businesses {
  height: 50px;
  padding: 5px;
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 11px;
}

.mcdonalds_img {
  height: 50%
}

.coyote_img {
  height: 60%; 

}