<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Basic Map</title>

  <!-- Leaflet CSS & JS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

 <!-- d3 JavaScript -->
 <script src="https://d3js.org/d3.v4.min.js"></script>

  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/style.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body id="body">
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Headquarter Location Influence</h1>
        <h5>Visiualizing the influence that the introduction of anticipated headquarters have on adjacent service orinented businesses. Focused on  McDonald's (West Loop), Groupon (Cabrini Green) and Coyote Logistics (Logan Square/Bucktown) headquarters locations.   </h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 box">
        <div class="main_businesses">

	
        
            <input name="mcButton" type="button" value="McDonalds" onClick="zoomTo(locMC);" />
            <input name="gruButton" type="button" value="Groupon" onClick="zoomTo(locGru);"/>
            <input name="coyBotton" type="button" value="Coyote" onClick="zoomTo(locCoy);"/>
            <script>
            
              var locMC = new L.LatLng(41.883486, -87.653842);
              var locGru = new L.LatLng(41.897692, -87.643751);
              var locCoy = new L.LatLng(41.931738, -87.692132)
              
              function zoomTo(location) {
                map.setView(location, map.getZoom());			
                }	
                
            </script>


            <!-- <button type="button" class="btn btn-default">McDonalds</button> -->

<!--     
        </div>
        <div class="main_businesses">
            <button type="button" class="btn btn-default">Groupon</button>
           
        </div>
        <div class="main_businesses">
            <button type="button" class="btn btn-default">Coyote</button> -->
          
        </div>
      </div>
      <div class="col-md-7" id=map>

            
    </div>
  </div>


  <!-- API key -->
  <script type="text/javascript" src="static/config.js"></script>
  <!-- JS -->
  <script type="text/javascript" src="static/logic.js"></script>


</body>
</html>